<div style="padding: 10px; min-height: 350px; margin-bottom: 6px; width: 98%; margin-top: 10px; margin-bottom: 10px; background-color: #8cac4a; border-radius: 10px;"> 
  
  <!-- Inicio Botonera superior -->
  <div class="foto_centro" style="background-color: #628a0f; padding: 10px; border-radius: 10px 10Px 0 0; margin: -10px;">
    <div class="btn-toolbar foto_centro" style="margin: auto;" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#bienvenida">Carta de bienvenida</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#objetivos">Objetivos</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#coordinadores">Equipo Técnico</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#metodologia">Metodología</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#contenidos">Contenidos</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#evaluacion">Evaluación</button>
        <a href="#" target="_blank">
        <button type="button" class="btn btn-success">Ficha del Curso</button>
        </a></div>
    </div>
  </div>

  <!-- Fin Botonera superior --> 
  
  <!-- Inicio Banner -->
  
  <div class="row">
    <div class="col-md-7" style="padding: 6%">
      <h1 style="font-family: 'Quicksand', sans-serif; font-size: 1.5em; color: #517704;"><strong>Curso de autoaprendizaje:</strong></h1>
      <h1 style="font-family: 'Quicksand', sans-serif; font-size: 3.0em; text-align: left; color: #fff; font-weight: bold;">Sistemas Alimentarios y Políticas para el Fortalecimiento de la Agricultura Familiar en América Latina y el Caribe</h1>
      <h1 style="font-family: 'Quicksand', sans-serif; font-size: 1.8em; text-align: left; color: #fff;"><strong></strong></h1>
      <a href="https://capacitacion.fao.org/mod/scorm/view.php?id=1219">
      <p style="font-size: 21px; color: #fff; font-family: 'Abel', sans-serif; padding: 12px; border: 1px solid #fff; border-radius: 6px; margin-top: 20px; width: fit-content; margin-bottom: 20px; background:#517704;"><i class="fa fa-file-text-o" aria-hidden="true" "fa-2x"=""></i>&nbsp; Ver contenidos del curso</p>
      </a> </div>
    <div class="col-md-5" style="padding: 2%"> <img src="https://capacitacion.fao.org/file.php/51/img/back_01.png" alt="Sistemas Alimentarios y Políticas para el Fortalecimiento de la Agricultura Familiar en América Latina y el Caribe" class="img-responsive foto_centro animate__animated animate__flipInX"> </div>
  </div>
  
  <!-- Fin Banner --> 
</div>

<!-- Contenido de los modales --> 
<!-- Carta de bienvenida -->
<div class="modal fade" id="bienvenida" tabindex="-1" aria-labelledby="cartaBienvenidaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartaBienvenidaLabel">Carta de bienvenida</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">
        <p>Estimadas y estimados participantes</p>
        
          <p>Le damos la más cordial de las bienvenidas al curso<strong> "Sistemas Alimentarios y Políticas para el Fortalecimiento de la Agricultura Familiar en América Latina y el Caribe".</strong></p>
          <p>Para alimentar al mundo de forma sostenible, se precisa un cambio urgente y radical en nuestros sistemas alimentarios. Las medidas transformadoras solamente serán eficaces si abordan un complejo conjunto de objetivos interconectados que abarcan dimensiones económicas, sociales y medioambientales. En este contexto, los agricultores familiares— mujeres y hombres pastores, pescadores, silvicultores, poblaciones indígenas y otros grupos de productores de alimentos—son cruciales en esta cuestión. Proporcionan la mayor parte de los alimentos del mundo, son los principales inversores en la agricultura y constituyen la columna vertebral de la estructura económica rural. (FAO, 2019). </p>
          <p>En este contexto, se enmarca este curso denominado: Sistemas Alimentarios y Políticas para el Fortalecimiento de la Agricultura Familiar en América Latina y el Caribe, que aborda el sector de la agricultura familiar como un actor principal, relevante y necesario para lograr hacer frente a los desafíos económicos, sociales, alimentarios y medioambientales. Esto con la finalidad de presentar un panorama de los principales programas y políticas para el fortalecimiento de la agricultura familiar en América Latina y el Caribe. Así, se revisarán temáticas tales como: identidad de la Agricultura Familiar, su conceptualización, la Agenda 2030 y la vinculación de la Agricultura Familiar con los ODS, la multifuncionalidad de la AF en los distintos territorios, entre otros elementos.</p>
        
        
        <p>Reciban un cordial saludo<br>
          <strong>Equipo coordinador</strong></p>
        <div class="alert alert-warning"> <a href="https://www.fao.org/americas/daf/plataforma/es/" target="_blank"><img src="https://capacitacion.fao.org/file.php/51/plataforma_af.png" width="196" height="120" alt="" class="foto_derecha"></a>
          <p>Este Curso se enmarca en la <strong>Plataforma Técnica Regional para la Agricultura Familiar </strong>(<a href="https://www.fao.org/americas/daf/plataforma/es/" target="_blank">https://www.fao.org/americas/daf/plataforma/es/</a>) en
            alianza con los proyectos “Sembrando Capacidades” (ABC, MAPA Brasil, MADR Colombia, FAO) y “Farmers Organizations for ACP” (FIDA, UE, PROCASUR y FAO). Esta Plataforma promueve innovaciones institucionales y técnicas que fortalecen
            a los agricultores familiares y pequeños productores de todo el mundo; a partir de movilizar el conocimiento, la experiencia y las mejores prácticas existentes; y fomentar el diálogo, el aprendizaje y la colaboración entre una
            diversidad de socios de dentro y fuera de la FAO.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN Carta de bienvenida --> 
<!-- Objetivos -->
<div class="modal fade" id="objetivos" tabindex="-1" aria-labelledby="objetivosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="objetivosLabel">Objetivos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">
        <p><strong>Objetivo general:</strong></p>
        <p>Presentar una introducción al concepto e importancia de la agricultura familiar y un panorama de los principales programas y políticas para el fortalecimiento de este sector en América Latina y el Caribe.</p>
        <p><strong>Objetivos específicos:</strong></p>
        <ul>
          <li>Generar capacidades básicas para entender el concepto de los Agricultura Familiar y su relevancia como sector estratégico para el desarrollo sostenible.</li>
          <li>Reconocer el rol múltiple de la Agricultura Familiar para la sostenibilidad de los sistemas alimentarios y el logro de los Objetivos de Desarrollo Sostenible.</li>
          <li>Identificar los avances y desafíos en la implementación de políticas y leyes diferenciales para el fortalecimiento de la Agricultura Familiar en la región de América Latina y el Caribe.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN Objetivos --> 
<!-- Metodología -->
<div class="modal fade" id="metodologia" tabindex="-1" aria-labelledby="metodologiaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="metodologiaLabel">Metodología</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">
        <p>Este curso se desarrolla a través del autoaprendizaje, siendo responsabilidad del participante la construcción de su propio conocimiento. Está estructurado en tres temáticas para su exploración secuencial, es decir, una vez que se ha revisado completamente un tema es posible acceder al siguiente.</p>
		  <p>Cada tema describe una temática diferenciada en sus contenidos y actividades, no obstante, en su conjunto determinan el logro del objetivo de aprendizaje. A través del curso el participante tendrá la oportunidad de revisar conceptos, conocer y reforzar procedimientos y aplicar criterios. Las temáticas están vinculadas a presentar una introducción al concepto e importancia de la agricultura familiar y un panorama de los principales programas y políticas para el fortalecimiento de este sector en América Latina y el Caribe.</p>
		  <p>La metodología considera la aplicación sistemática de diferentes herramientas de aprendizaje y ejercicios de autoevaluación por unidad, que facilitarán la comprensión de los contenidos. La revisión de los contenidos de este curso requiere de una dedicación aproximada de 10 horas cronológicas, lo que puede variar en función de las referencias que quiera revisar, siendo recomendable sostener sesiones de una hora tres veces por semana.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN Metodología --> 
<!-- Contenidos -->
<div class="modal fade" id="contenidos" tabindex="-1" aria-labelledby="contenidosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contenidosLabel">Contenidos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Agricultura familiar: definición y conceptos </li>
          <li>Sistemas alimentarios y agricultura familiar</li>
          <li>Objetivos de Desarrollo Sostenible y Decenio de la Agricultura familiar </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN Contenidos --> 

<!-- Evaluación -->
<div class="modal fade" id="evaluacion" tabindex="-1" aria-labelledby="evaluacionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="evaluacionLabel">Evaluación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">
        <p>Para aprobar el curso, se deberá realizar una evaluación final al concluir todo el proceso de aprendizaje. La evaluación exige un 70% de logro y se puede realizar en un número indefinido de intentos.</p>
        <p> La medición de la evaluación se hará en conformidad con la siguiente escala porcentual:</p>
        <ul>
          <li> <strong>Sobresaliente: </strong>90 a 100 puntos</li>
          <li> <strong>Notable:</strong> 80 a 89 puntos </li>
          <li><strong>Aprobado:</strong> 70 a 79 puntos </li>
          <li><strong>Reprobado: </strong>0 a 69 puntos</li>
        </ul>
        <p> <strong><br>
          Certificación</strong>: <br>
          Una vez aprobado el curso, los participantes podrán descargar automáticamente el certificado que otorga la FAO RLC en la plataforma donde está alojado el curso. </p>
        <div class="alert alert-warning">
          <p>Por favor, recuerde guardar muy bien su certificado, puesto que no podrá ser descargado nuevamente cuando esta capacitación haya cerrado.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN Evaluación -->

<div class="modal fade" id="coordinadores" tabindex="-1" aria-labelledby="coordinadoresLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fichaLabel">Equipo Técnico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">
        <p><strong>Técnicos responsables</strong></p>
        <ul>
          <li>Raúl Contreras Devia,</li>
          <li id="yui_3_17_2_1_1643217986503_1279">Pedro Boareto,</li>
          <li id="yui_3_17_2_1_1643217986503_1281">Marcos Rodriguez Fazzone,</li>
          <li>Camilo Ardila Galvis</li>
          <li id="yui_3_17_2_1_1643217986503_1282">Cindy Alexandra Córdoba Vargas<br>
          </li>
        </ul>
        <p><strong><br>
        Implementación del Curso</strong></p>
        <ul>
          <li>Núcleo de Capacitação em Políticas Públicas<br>
            <a href="mailto:RLC-Nucleo@fao.org">RLC-Nucleo@fao.org</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN Contenido de los modales -->